:root {
	--md-source: #f7c04a;
	/* light */
	--primary-light: #85650f;
	--on-primary-light: #ffffff;
	--primary-container-light: #ffdea3;
	--on-primary-container-light: #261900;
	--secondary-light: #1d5fa6;
	--on-secondary-light: #ffffff;
	--secondary-container-light: #d4e3ff;
	--on-secondary-container-light: #001c3a;
	--tertiary-light: #626200;
	--on-tertiary-light: #ffffff;
	--tertiary-container-light: #e9e870;
	--on-tertiary-container-light: #1d1d00;
	--error-light: #ba1a1a;
	--error-container-light: #ffdad6;
	--on-error-light: #ffffff;
	--on-error-container-light: #410002;
	--background-light: #fffbff;
	--on-background-light: #1c1d00;
	--surface-light: #fffbff;
	--on-surface-light: #1c1d00;
	--surface-variant-light: #ede1cf;
	--on-surface-variant-light: #312d24;
	--outline-light: #7f7667;
	--inverse-on-surface-light: #f5f77e;
	--inverse-surface-light: #313300;
	--inverse-primary-light: #f5be48;
	--shadow-light: #000000;
	--surface-tint-light: #7a5900;
	--outline-variant-light: #d1c5b4;
	--scrim-light: #000000;
	/* dark */
	--primary-dark: #f5be48;
	--on-primary-dark: #402d00;
	--primary-container-dark: #5d4200;
	--on-primary-container-dark: #ffdea3;
	--secondary-dark: #a5c8ff;
	--on-secondary-dark: #00315e;
	--secondary-container-dark: #004785;
	--on-secondary-container-dark: #d4e3ff;
	--tertiary-dark: #cccc57;
	--on-tertiary-dark: #323200;
	--tertiary-container-dark: #494900;
	--on-tertiary-container-dark: #e9e870;
	--error-dark: #ffb4ab;
	--error-container-dark: #93000a;
	--on-error-dark: #690005;
	--on-error-container-dark: #ffdad6;
	--background-dark: #1c1d00;
	--on-background-dark: #e6e971;
	--surface-dark: #1e1b16;
	--on-surface-dark: #e9e1d9;
	--surface-variant-dark: #4d4639;
	--on-surface-variant-dark: #e0d4c2;
	--outline-dark: #9a8f80;
	--inverse-on-surface-dark: #1c1d00;
	--inverse-surface-dark: #e6e971;
	--inverse-primary-dark: #7a5900;
	--shadow-dark: #000000;
	--surface-tint-dark: #f5be48;
	--outline-variant-dark: #4d4639;
	--scrim-dark: #000000;
}
