@import url(./css/preflight.css);
@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

@font-face {
	font-family: boska;
	src: url('/fonts/Boska-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: boska;
	src: url('/fonts/Boska-Medium.woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: boska;
	src: url('/fonts/Boska-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: boska;
	src: url('/fonts/Boska-Light.woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: gsans;
	src: url('/fonts/GeneralSans-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: gsans;
	src: url('/fonts/GeneralSans-Semibold.woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: gsans;
	src: url('/fonts/GeneralSans-Medium.woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: gsans;
	src: url('/fonts/GeneralSans-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: gsans;
	src: url('/fonts/GeneralSans-Light.woff');
	font-weight: 300;
	font-style: normal;
}
